form {
    text-align: center;
    border: 1px solid blue;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin: 100px auto;
}

h1 {
    margin: 20px;
    background: blue;
    color: white;
    text-align: center;
    font-family: Arial;
}
table{
    margin-top:-80px;
}

#UserDetailsTable{
    margin: 0 auto;
    width:200px;
    margin-top:-70px;
    margin-bottom:20px;
}

#UserDetailsTable td{
    text-align:center;
}

.buttonsDiv {
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

.homePageButtons{

    margin-top:70px;
}

.formContent {
    margin-top: 20%;
}

.leftFloatedLabel{
    display:block;
    margin-bottom:10px;
}

.totalInformation{
    margin:0 auto;
    width:100px;
    margin-top:30px;   
}

.button {
    background-color: blue;
    padding: 5px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 60%;
    display:block;
    margin:0 auto;
    margin-bottom:5px;
}

.indicationLabels {
    margin-top: 20px;
    display: block;
    font-family: Arial;
    font-size: 20px;
}

.successfulLabel{
    color: limegreen;
}

.unsuccessfulLabel {
    color: red;
}

.input{
    width:170px;
    height:20px;
    padding:0;
    margin:0;
}

.usersManagementDiv{
    margin-top:30px;
}

#UserEnabledRadioButtons{
    width:100%;
}

.testDiv{
    padding:10px;
}

.radioButtton{
    border:none;
}

.radioButtonsGroup{
    width:100%;
}

#EnabledAndDisabledRadioList{
    display:inline-block;
}

#PasswordTextBox {
    display: inline-block;
}

#UsernameTextBox {
    display: inline-block;
}

#updateUserForm {
    padding-top: 70px;
}



.homePageButton{
    height:40px;
    width:200px;
}

#SearchAndInformationForm{
    border:none;
    margin-top:20px;
}

#Searchbtn{
    
}

#filesTableContainer {
    margin-top:110px;
}