.button {
    background-color: blue;
    padding: 5px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width:100%;
}

form {
    text-align: center;
    border: 1px solid blue;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin: 100px auto;
}

h1 {
    margin: 20px;
    background: blue;
    color: white;
    text-align: center;
    font-family: Arial;
}
table{
    margin-top:-80px;
}


table td{
    border:1px solid black;
}

.buttonsDiv {
    text-align: center;
    padding: 3px;
    margin-top: 10px;
    width: 100%;
    height: 133px;
}

.homePageButtons{
    width:60%;
    margin:0 auto;
}

.formContent {
    margin-top: 30%;
}

.leftFloatedLabel{
    display:block;
    margin-bottom:10px;
}

.totalInformation{
    margin:10px;
    text-align:left;
}